@font-face {
  src: url('../font/Modeka.otf');
  font-family: 'Modeka';
}



table {
    color:black;
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
  td.err {
    background-color: #e992b9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
  }
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
  background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}


.intro {
  height: 700px;
  width:auto;
}

body{
  font-family: 'Modeka';
  padding:50px;
  background: black;
  overflow: scroll;
  color:white;
  font-size:20px;
  
}

.stitched2 {
  padding:10px;
  
  background-color:#FFB30F;
  color:#2D4DD9;
  font-size:1em;
  font-weight: bold;
  line-height:0.5em;
  margin-bottom: 5%;
  margin-top:5%;
  border: 2px dashed #fff;
  border-radius:20px;
  box-shadow: 0 0 0 4px #FFB30F, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  
  text-shadow: -0.5px -0.5px #aa3030;
 
} 

.stitched {
  padding:20px;
  text-align:center;
  background-color:#FFB30F;
  color:#2D4DD9;
  font-size:5em;
  font-weight: bold;
  line-height:0.5em;
  
  border: 2px dashed #fff;
  border-radius:20px;
  box-shadow: 0 0 0 4px #FFB30F, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  
  text-shadow: -2px -1px #aa3030;
 
} 

.ted:after { background-size: 70px ;}





